:root {
    background-color: #4d4d4d31;
    margin: 0;
    --naranjo: #E35F21;
    --blanco: #EEF8F7;
    --gris-claro: #9E9E9E;
    --gris-medio: #6B6B6A;
    --gris-oscuro: #4D4D4D;
    --negro:#010506;
    --amarillo-claro: #FFD647;
    --amarillo-oscuro: #FAAB05;
    --rojo: #8C0303;       
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--blanco);
    text-align: center;
}
body h2{
    margin: 20px;
}
main {
    background-color: var(--negro);
    padding: 20px;
}
a {
    text-decoration: none;
}

.nav-link {
    color: var(--blanco);
}
.nav-link:hover {
    color: var(--naranjo);
}
.navbar {
    background-color: var(--negro);
    padding: 5px 80px;
}
.navbar-logo {
    height: 80px;
    width: auto;
}

.carrusel {
    background-image: url(../assets/img/akita.jpg);
    background-size: cover;
    background-position: center 15%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: var(--gris-oscuro);
    text-align: center;
    padding: 0 100px;
    opacity: 0.90;
}
.carrusel p {
    text-align: end;
    margin: 0;
}
.btn {
    margin-top: 20px;
    background-color: var(--naranjo);
    color: var(--blanco);
    font-weight:400;
}
.btn:hover {
    background-color: var(--gris-oscuro);
    color: var(--naranjo);
}
.productos-destacados img {
    max-height: 17.5em;
    border: 4px solid var(--naranjo);

}
.rounded-circle {
    border: 4px solid var(--naranjo);
}
.text-justify-custom {
    text-align: justify;
}
p {
    text-align: justify;
    width: 90%;
    justify-content: center;
    margin: 20px auto;
}

.noticias img {
    width: 100%;
    max-height: 400px;
    border: 4px solid var(--naranjo);
    border-radius: 5px;
    object-fit: cover;
}
.noticias input[type="email"] {
    text-indent: 5%;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--naranjo);
}
.img-nuestra-historia img{
    max-width: 35vw;
    height: auto;
}
.container-socio .row{
    align-items: center;
}
.container-nuestro-equipo img {
    max-width: 15vw;
    max-height: auto;
}
.img-familia img {
    max-width: 35vw;
}
.imagen-nuestro-compromiso  {
    max-width: 45vw;
    max-height: 75vh;
    border: 4px solid var(--naranjo);

}
.imagen-nuestro-compromiso img {
    max-width: 30vw;
}
.parrafos-nuestro-compromiso p{
    margin: 0;
}
.testimonios img{
    max-width: 20vw;
    max-height: 20vh;
}
.tarjeta-compromiso-social img {
    max-width: 30vw;
    max-height: 30vh;
}

footer {
    padding-top: 20px;
    background-color: var(--naranjo);
    font-family: 'Roboto', sans-serif;
}
footer p {
    margin: 0;
}
footer a {
    text-decoration: none;
    color: var(--blanco);
}
footer a:hover {
    color: var(--gris-oscuro);
    }
footer .row{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 576px) {
    .col-sm-3.col-md-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-sm-3.col-md-2 img {
        max-width: 90vw;
        max-height: 90vh;
    }
}
